.navbar {
  background: url("../img/cielo.png") no-repeat center;
  background-size: cover;

  .nav-link {
    color: #292929 !important;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
  }

  .navbar-brand {
    color: #62a5e4 !important;
    font-weight: bold;
  }
}
