body {
  font-family: $font-main;
  background: linear-gradient(to bottom, #22afe7, #f0f8ff);
  color: $text-dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.weather-app {
  &__title {
    font-weight: 600;
    color: $color-title;
  }
}

main {
  flex: 1;
}

.btn-outline-primary {
  border-radius: 20px;
}

